{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block body %}
<div class="row m-6 justify-content-center">
    <form method="POST" action="{% url 'accounts:login' %}" class="my-2">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}   
                <p>
                {{ field }}
                </p>
            </div>
        {% endfor %}
        <button class="btn btn-primary btn-block" type="submit">확인</button>
        </div>
    </form>
</div>
<div class="row m-6 justify-content-center">
    <div class="w-100 my-2"></div>
    <a href="{% provider_login_url 'google' %}" class="btn btn-primary w-4 align-self-center "><i class="fab fa-google pr-1"></i> | Signin with Google  </a>
    <div class="w-100 my-2"></div>
    <a href="{% provider_login_url 'github' %}" class="btn btn-github w-4 align-self-center"><i class="fab fa-github pr-1"></i> | Signin with GitHub  </a>
    {% comment %} <a href="#" onclick="googleLogin()" class="btn btn-primary col-3 align-self-center "><i class="fab fa-google pr-1"></i> | Signin with Google  </a> {% endcomment %}
  <div>
<script src="{% static 'accounts/js/social_login.js' %}"></script>
{% endblock %}