{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block body %}
<div class="row m-3 justify-content-center">
    <form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
        {{ form.as_p }}
        <button class=" my-3 btn btn-primary btn-block" type="submit">확인</button>
    </form>
</div>
  
<script src="{% static 'accounts/js/social_login.js' %}"></script>
{% endblock %}
{% block scripts %}
<script>
const signupform = new Vue({
    el: '#signupform',
    data: {
    signupData: {
    username: null,
    password1: null,
    password2: null
    }
    }
})
  </script>
{% endblock scripts %}