{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'articles/stylesheets/index.css' %}">
{% endblock %}

{% block body %}
<template>
    <div>
        <h1>게시판</h1>
        {% if user.is_active %}
        <button type="button" class="btn btn-light m-2">새 글 쓰기</button>
        {% endif %}
        <div v-for="article in articles" :key="article.id" v-on:click="onArticleSelect(article)">  
            <div class="container bootstrap snippet my-3">
                <div class="col-sm-8">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img src="https://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                            <div class="title h5">
                                <b>[[ article.user.username ]]</b>
                                made a post.
                            </div>
                            <h6 class="text-muted time">[[ moment(article.created_at).format("LLLL")]]</h6>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p>[[ article.content]]</p>
                            <div class="stats">
                                <a href="#" class="btn btn-outline-info stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>2
                                </a>
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="input-group"> 
                                <input class="form-control mr-1" placeholder="Add a comment" type="text">
                                <span class="input-group-addon">
                                    <a href="#" class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>  
                                </span>
                            </div>
                            <ul class="comments-list" v-for="comment in article.comments">
                                <li class="comment">
                                    <a class="pull-left" href="#">
                                        <img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">[[ comment.user]]</h4>
                                            <h5 class="time">[[ moment(comment.created_at).format("LLLL")]]</h5>
                                        </div>
                                        <p>[[ comment.content ]]</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>    
{% endblock body%}

{% block script %}
<script>
const SERVER_URL = "http://localhost:8000/";
const index = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      articles:[],
      selectedArticle: null,
      article:null
    },
    
    created() {
        axios
        .get(SERVER_URL + "articles/api/articlelist/")
        .then(res => (this.articles = res.data))
        .catch(err => console.error(err));
  },
  methods:{
      {% comment %} onArticleSelect: function(article) {
        const url = "{% url "articles:detail" 123 %}".replace('123',`${article.id}`)
        console.log(url)
        return location.href="{% url "articles:detail" 123 %}".replace('123',`${article.id}`)
      } {% endcomment %}
  }
  })
</script>
{% endblock script %}