{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <h1>게시판</h1>
    <div class="text-right"> 
    <button type="button" class="btn btn-light m-2">새 글 쓰기</button>
    <div>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col-1">순서</th>
          <th scope="col-3">제목</th>
          <th scope="col-9">내용</th>
          <th scope="col-2">작성자</th>
          
        </tr>
      </thead>
      <tbody>
        <tr v-for="article in articles" :key="`article_${article.id}`">
          <td>[[ article.id ]]</td>
          <td>[[ article.title ]]</td>
          <td>[[ article.content ]]</td>
          <td>[[ article.user.username ]]</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>    
{% endblock body%}

{% block script %}
<script>
const SERVER_URL = "http://localhost:8000/";
const index = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      articles:[]
    },
    
    created() {
        axios
        .get(SERVER_URL + "articles/api/articlelist/")
        .then(res => (this.articles = res.data))
        .catch(err => console.error(err));
  }
  })
</script>
{% endblock script %}