<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="{% url 'index' %}">JunNa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">무비<span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_active %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'articles:index' %}">게시판</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
      </li>
      {% endif %}
    </ul>
      <div class="nav-item navbar-right mr-3">
        <div class="font-weight-bold"> {{user.username}} </div>
      </div>
  </div>
</nav>