{% load key %}
{% FONTAWSOME_KEY as FONTAWSOME_KEY %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <!-- font awsome -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JunNa Movie</title>
</head>
<body>
    {% include '_navbar.html' %}
    {% block body %}
    {% endblock body %}
</body>
</html>